* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
}

.container{
    text-align: center;
    background-color: white;
    padding: 40px 20px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: black;
    background-color: burlywood;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: burlywood;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.icon:hover {
    transform: scale(1.2);
}

.instagram {
    background-color: #8a3ab9;
}
.tiktok {
    background-color: #000000;
}
.facebook {
    background-color: #4267b2;
}
.whatsapp {
    background-color: #25d366;
}